<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="*.njs" verb="*" modules="iisnode" />
    </handlers>    
	
     <!-- use URL rewriting to redirect the entire branch of the URL namespace
     to hello.js node.js application; for example, the following URLs will 
     all be handled by hello.js:
    
         http://localhost/node/urlrewrite/hello
         http://localhost/node/urlrewrite/hello/foo
         http://localhost/node/urlrewrite/hello/foo/bar/baz?param=bat
         
     -->    
     <rewrite>
       <rules>
         <rule name="default">
           <match url="/*" />
           <action type="Rewrite" url="app.njs" />
         </rule>
       </rules>
     </rewrite>
  </system.webServer>
</configuration>
