<configuration>
	<appSettings>
		<!-- configuration -->
		<add key="deployPath" value="/NodeApp/HelloWorld" />
	</appSettings>
	<system.webServer>
		<iisnode      
		  debuggerPortRange="5058-6058"
		  debuggerPathSegment="debug"
		  maxNamedPipeConnectionRetry="3"
		  namedPipeConnectionRetryDelay="2000"      
		  loggingEnabled="false" debuggingEnabled="true"
		   nodeProcessCommandLine="&quot;c:\Program Files\nodejs\node.exe&quot;"
		 />
		<handlers>
			<add name="iisnode" path="*.njs" verb="*" modules="iisnode" />
		</handlers>

		<!-- use URL rewriting to redirect the entire branch of the URL namespace
     to hello.js node.js application; for example, the following URLs will 
     all be handled by hello.js:
    
         http://localhost/node/urlrewrite/hello
         http://localhost/node/urlrewrite/hello/foo
         http://localhost/node/urlrewrite/hello/foo/bar/baz?param=bat
         
     -->    
		<rewrite>
			<rules>
				<rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="iisnode"/>
				</rule>
				<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^app.njs\/debug[\/]?" />
				</rule>
				
                <rule name="StaticContent">
                     <action type="Rewrite" url="public{{REQUEST_URI}}"/>
                </rule>
                <rule name="DynamicContent">
                     <conditions>
                          <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
                     </conditions>
                     <action type="Rewrite" url="app.njs"/>
                </rule>
				<!-- <rule name="default">
					<match url="/*" />
					<action type="Rewrite" url="app.njs" />
				</rule> -->
			</rules>
		</rewrite>
		<!--
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
				</hiddenSegments>
			</requestFiltering>
		</security>
		-->
	</system.webServer>
</configuration>
